version: '3.8'
services:
  redis:
    image: redis/redis-stack:latest
    container_name: alien_alpha_redis
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis_data:/data
    restart: always
    environment:
      - REDIS_ARGS="--appendonly yes"

volumes:
  redis_data:
